## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [11]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("la-liga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("la-liga-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("la-liga-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [12]:
#za sezonu 25 6
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Celta", 'RC Celta')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Celta", 'RC Celta')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [13]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(90)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
85,87,9,19/10/2025 12:00,Estadio Martínez Valero,Elche CF,Athletic Club,0 - 0
86,84,9,19/10/2025 14:15,Estadio ABANCA Balaídos,RC Celta,Real Sociedad,1 - 1
87,86,9,19/10/2025 16:30,Estadio Ciutat de València,Levante UD,Rayo Vallecano,0 - 3
88,85,9,19/10/2025 19:00,Coliseum,Getafe CF,Real Madrid,0 - 1
89,81,9,20/10/2025 19:00,Mendizorroza,Deportivo Alavés,Valencia CF,0 - 0

In [14]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [15]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
85,87,9,19/10/2025 12:00,Estadio Martínez Valero,Elche CF,Athletic Club,0 - 0
86,84,9,19/10/2025 14:15,Estadio ABANCA Balaídos,RC Celta,Real Sociedad,1 - 1
87,86,9,19/10/2025 16:30,Estadio Ciutat de València,Levante UD,Rayo Vallecano,0 - 3
88,85,9,19/10/2025 19:00,Coliseum,Getafe CF,Real Madrid,0 - 1
89,81,9,20/10/2025 19:00,Mendizorroza,Deportivo Alavés,Valencia CF,0 - 0

## Predprocesovanje Niza Podataka

In [16]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(850, 3)

In [17]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [18]:
df_BL.to_csv("la-liga.csv")
df_BL

                   H               A Result
0         UD Almería  Rayo Vallecano  0 - 2
1         Sevilla FC     Valencia CF  1 - 2
2      Real Sociedad       Girona FC  1 - 1
3      UD Las Palmas    RCD Mallorca  1 - 1
4      Athletic Club     Real Madrid  0 - 2
..               ...             ...    ...
85          Elche CF   Athletic Club  0 - 0
86          RC Celta   Real Sociedad  1 - 1
87        Levante UD  Rayo Vallecano  0 - 3
88         Getafe CF     Real Madrid  0 - 1
89  Deportivo Alavés     Valencia CF  0 - 0

[850 rows x 3 columns]

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [20]:
df_domacin.columns

Index(['H_Atlético de Madrid', 'H_CA Osasuna', 'H_CD Leganés', 'H_Cádiz CF',
       'H_Deportivo Alavés', 'H_Elche CF', 'H_FC Barcelona', 'H_Getafe CF',
       'H_Girona FC', 'H_Granada CF', 'H_Levante UD', 'H_RC Celta',
       'H_RCD Espanyol de Barcelona', 'H_RCD Mallorca', 'H_Rayo Vallecano',
       'H_Real Betis', 'H_Real Madrid', 'H_Real Oviedo', 'H_Real Sociedad',
       'H_Real Valladolid CF', 'H_Sevilla FC', 'H_UD Almería',
       'H_UD Las Palmas', 'H_Valencia CF', 'H_Villarreal CF'],
      dtype='object')

In [21]:
df_domacin.shape

(850, 25)

In [22]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [23]:
df_gost.shape

(850, 25)

In [24]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
849,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [25]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [26]:
rez_dom.head()

0    0
1    1
2    1
3    1
4    0
Name: Result, dtype: object

In [27]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [28]:
rez_gost.head()

0    2
1    2
2    1
3    1
4    2
Name: Result, dtype: object

In [29]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [30]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                   H               A Result Rez1 Rez2
0         UD Almería  Rayo Vallecano  0 - 2    0    2
1         Sevilla FC     Valencia CF  1 - 2    1    2
2      Real Sociedad       Girona FC  1 - 1    1    1
3      UD Las Palmas    RCD Mallorca  1 - 1    1    1
4      Athletic Club     Real Madrid  0 - 2    0    2
..               ...             ...    ...  ...  ...
85          Elche CF   Athletic Club  0 - 0    0    0
86          RC Celta   Real Sociedad  1 - 1    1    1
87        Levante UD  Rayo Vallecano  0 - 3    0    3
88         Getafe CF     Real Madrid  0 - 1    0    1
89  Deportivo Alavés     Valencia CF  0 - 0    0    0

[850 rows x 5 columns]

In [31]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [32]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [33]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [34]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [35]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [36]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_9188\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [37]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_9188\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [38]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [39]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [40]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [41]:
finalna_provjera.tail()

                    H               A Rezultat  Skor
845          Elche CF   Athletic Club    0 - 0   0.0
846          RC Celta   Real Sociedad    1 - 1   0.0
847        Levante UD  Rayo Vallecano    0 - 3  -1.0
848         Getafe CF     Real Madrid    0 - 1  -1.0
849  Deportivo Alavés     Valencia CF    0 - 0   0.0

# Konačni df - Podaci su Sređeni

In [42]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [43]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [44]:
df_BL.head(5)

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [45]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [46]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [47]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546],
       [-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546],
       [-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546],
       ...,
       [-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546],
       [-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546],
       [-0.22544218, -0.23488809, -0.14615682, ..., -0.21896394,
        -0.23177361, -0.22862546]])

In [49]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [50]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [51]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [52]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                816

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 833
Trainable params: 833
Non-trainable params: 0
_________________________________________________________________

In [53]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [54]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
24/24 [==============================] - 2s 34ms/step - loss: 0.7598 - mae: 0.7598 - val_loss: 0.8452 - val_mae: 0.8452
Epoch 2/50
24/24 [==============================] - 0s 14ms/step - loss: 0.6812 - mae: 0.6812 - val_loss: 0.7911 - val_mae: 0.7911
Epoch 3/50
24/24 [==============================] - 0s 15ms/step - loss: 0.6287 - mae: 0.6287 - val_loss: 0.7652 - val_mae: 0.7652
Epoch 4/50
24/24 [==============================] - 0s 14ms/step - loss: 0.5899 - mae: 0.5899 - val_loss: 0.7520 - val_mae: 0.7520
Epoch 5/50
24/24 [==============================] - 1s 23ms/step - loss: 0.5643 - mae: 0.5643 - val_loss: 0.7430 - val_mae: 0.7430
Epoch 6/50
24/24 [==============================] - 0s 21ms/step - loss: 0.5450 - mae: 0.5450 - val_loss: 0.7366 - val_mae: 0.7366
Epoch 7/50
24/24 [==============================] - 0s 14ms/step - loss: 0.5288 - mae: 0.5288 - val_loss: 0.7259 - val_mae: 0.7259
Epoch 8/50
24/24 [==============================] - 0s 14ms/step - loss: 0.5136 - mae: 0.5136 - val_loss: 0.7150 - val_mae: 0.7150
Epoch 9/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4991 - mae: 0.4991 - val_loss: 0.7092 - val_mae: 0.7092
Epoch 10/50
24/24 [==============================] - 0s 18ms/step - loss: 0.4861 - mae: 0.4861 - val_loss: 0.7021 - val_mae: 0.7021
Epoch 11/50
24/24 [==============================] - 1s 23ms/step - loss: 0.4747 - mae: 0.4747 - val_loss: 0.7038 - val_mae: 0.7038
Epoch 12/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4653 - mae: 0.4653 - val_loss: 0.6945 - val_mae: 0.6945
Epoch 13/50
24/24 [==============================] - 0s 19ms/step - loss: 0.4593 - mae: 0.4593 - val_loss: 0.6934 - val_mae: 0.6934
Epoch 14/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4520 - mae: 0.4520 - val_loss: 0.6920 - val_mae: 0.6920
Epoch 15/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4478 - mae: 0.4478 - val_loss: 0.6883 - val_mae: 0.6883
Epoch 16/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4433 - mae: 0.4433 - val_loss: 0.6904 - val_mae: 0.6904
Epoch 17/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4390 - mae: 0.4390 - val_loss: 0.6848 - val_mae: 0.6848
Epoch 18/50
24/24 [==============================] - 1s 36ms/step - loss: 0.4335 - mae: 0.4335 - val_loss: 0.6847 - val_mae: 0.6847
Epoch 19/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4303 - mae: 0.4303 - val_loss: 0.6867 - val_mae: 0.6867
Epoch 20/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4268 - mae: 0.4268 - val_loss: 0.6835 - val_mae: 0.6835
Epoch 21/50
24/24 [==============================] - 0s 22ms/step - loss: 0.4239 - mae: 0.4239 - val_loss: 0.6807 - val_mae: 0.6807
Epoch 22/50
24/24 [==============================] - 0s 21ms/step - loss: 0.4206 - mae: 0.4206 - val_loss: 0.6799 - val_mae: 0.6799
Epoch 23/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4174 - mae: 0.4174 - val_loss: 0.6764 - val_mae: 0.6764
Epoch 24/50
24/24 [==============================] - 0s 15ms/step - loss: 0.4154 - mae: 0.4154 - val_loss: 0.6721 - val_mae: 0.6721
Epoch 25/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4128 - mae: 0.4128 - val_loss: 0.6762 - val_mae: 0.6762
Epoch 26/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4105 - mae: 0.4105 - val_loss: 0.6694 - val_mae: 0.6694
Epoch 27/50
24/24 [==============================] - 0s 19ms/step - loss: 0.4063 - mae: 0.4063 - val_loss: 0.6735 - val_mae: 0.6735
Epoch 28/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4043 - mae: 0.4043 - val_loss: 0.6706 - val_mae: 0.6706
Epoch 29/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4017 - mae: 0.4017 - val_loss: 0.6699 - val_mae: 0.6699
Epoch 30/50
24/24 [==============================] - 0s 19ms/step - loss: 0.4003 - mae: 0.4003 - val_loss: 0.6718 - val_mae: 0.6718
Epoch 31/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3975 - mae: 0.3975 - val_loss: 0.6678 - val_mae: 0.6678
Epoch 32/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3968 - mae: 0.3968 - val_loss: 0.6674 - val_mae: 0.6674
Epoch 33/50
24/24 [==============================] - 0s 14ms/step - loss: 0.3938 - mae: 0.3938 - val_loss: 0.6678 - val_mae: 0.6678
Epoch 34/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3919 - mae: 0.3919 - val_loss: 0.6621 - val_mae: 0.6621
Epoch 35/50
24/24 [==============================] - 0s 14ms/step - loss: 0.3902 - mae: 0.3902 - val_loss: 0.6615 - val_mae: 0.6615
Epoch 36/50
24/24 [==============================] - 0s 12ms/step - loss: 0.3889 - mae: 0.3889 - val_loss: 0.6599 - val_mae: 0.6599
Epoch 37/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3875 - mae: 0.3875 - val_loss: 0.6581 - val_mae: 0.6581
Epoch 38/50
24/24 [==============================] - 1s 21ms/step - loss: 0.3856 - mae: 0.3856 - val_loss: 0.6524 - val_mae: 0.6524
Epoch 39/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3833 - mae: 0.3833 - val_loss: 0.6550 - val_mae: 0.6550
Epoch 40/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3830 - mae: 0.3830 - val_loss: 0.6538 - val_mae: 0.6538
Epoch 41/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3804 - mae: 0.3804 - val_loss: 0.6525 - val_mae: 0.6525
Epoch 42/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3784 - mae: 0.3784 - val_loss: 0.6523 - val_mae: 0.6523
Epoch 43/50
24/24 [==============================] - 0s 14ms/step - loss: 0.3776 - mae: 0.3776 - val_loss: 0.6487 - val_mae: 0.6487
Epoch 44/50
24/24 [==============================] - 0s 17ms/step - loss: 0.3752 - mae: 0.3752 - val_loss: 0.6486 - val_mae: 0.6486
Epoch 45/50
24/24 [==============================] - 0s 14ms/step - loss: 0.3739 - mae: 0.3739 - val_loss: 0.6450 - val_mae: 0.6450
Epoch 46/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3738 - mae: 0.3738 - val_loss: 0.6483 - val_mae: 0.6483
Epoch 47/50
24/24 [==============================] - 0s 15ms/step - loss: 0.3706 - mae: 0.3706 - val_loss: 0.6449 - val_mae: 0.6449
Epoch 48/50
24/24 [==============================] - 0s 16ms/step - loss: 0.3701 - mae: 0.3701 - val_loss: 0.6394 - val_mae: 0.6394
Epoch 49/50
24/24 [==============================] - 0s 13ms/step - loss: 0.3670 - mae: 0.3670 - val_loss: 0.6441 - val_mae: 0.6441
Epoch 50/50
24/24 [==============================] - 0s 14ms/step - loss: 0.3666 - mae: 0.3666 - val_loss: 0.6345 - val_mae: 0.6345

In [55]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 5ms/step - loss: 0.6345 - mae: 0.6345

In [56]:
#spremanje modela
model.save("laliga_float_model.h5")

In [57]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.