## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [5]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("la-liga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("la-liga-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("la-liga-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [6]:
#za sezonu 25 6
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Celta", 'RC Celta')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Celta", 'RC Celta')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [7]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(110)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
105,108,11,02/11/2025 13:00,Estadio Ciutat de València,Levante UD,RC Celta,1 - 2
106,101,11,02/11/2025 15:15,Mendizorroza,Deportivo Alavés,RCD Espanyol de Barcelona,2 - 1
107,103,11,02/11/2025 17:30,Estadi Olímpic Lluís Companys,FC Barcelona,Elche CF,3 - 1
108,104,11,02/11/2025 20:00,Estadio Olímpico de la Cartuja,Real Betis,RCD Mallorca,3 - 0
109,109,11,03/11/2025 20:00,Estadio Carlos Tartiere,Real Oviedo,CA Osasuna,0 - 0

In [8]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [9]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
105,108,11,02/11/2025 13:00,Estadio Ciutat de València,Levante UD,RC Celta,1 - 2
106,101,11,02/11/2025 15:15,Mendizorroza,Deportivo Alavés,RCD Espanyol de Barcelona,2 - 1
107,103,11,02/11/2025 17:30,Estadi Olímpic Lluís Companys,FC Barcelona,Elche CF,3 - 1
108,104,11,02/11/2025 20:00,Estadio Olímpico de la Cartuja,Real Betis,RCD Mallorca,3 - 0
109,109,11,03/11/2025 20:00,Estadio Carlos Tartiere,Real Oviedo,CA Osasuna,0 - 0

## Predprocesovanje Niza Podataka

In [10]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(870, 3)

In [11]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [12]:
df_BL.to_csv("la-liga.csv")
df_BL

                    H                          A Result
0          UD Almería             Rayo Vallecano  0 - 2
1          Sevilla FC                Valencia CF  1 - 2
2       Real Sociedad                  Girona FC  1 - 1
3       UD Las Palmas               RCD Mallorca  1 - 1
4       Athletic Club                Real Madrid  0 - 2
..                ...                        ...    ...
105        Levante UD                   RC Celta  1 - 2
106  Deportivo Alavés  RCD Espanyol de Barcelona  2 - 1
107      FC Barcelona                   Elche CF  3 - 1
108        Real Betis               RCD Mallorca  3 - 0
109       Real Oviedo                 CA Osasuna  0 - 0

[870 rows x 3 columns]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [14]:
df_domacin.columns

Index(['H_Atlético de Madrid', 'H_CA Osasuna', 'H_CD Leganés', 'H_Cádiz CF',
       'H_Deportivo Alavés', 'H_Elche CF', 'H_FC Barcelona', 'H_Getafe CF',
       'H_Girona FC', 'H_Granada CF', 'H_Levante UD', 'H_RC Celta',
       'H_RCD Espanyol de Barcelona', 'H_RCD Mallorca', 'H_Rayo Vallecano',
       'H_Real Betis', 'H_Real Madrid', 'H_Real Oviedo', 'H_Real Sociedad',
       'H_Real Valladolid CF', 'H_Sevilla FC', 'H_UD Almería',
       'H_UD Las Palmas', 'H_Valencia CF', 'H_Villarreal CF'],
      dtype='object')

In [15]:
df_domacin.shape

(870, 25)

In [16]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [17]:
df_gost.shape

(870, 25)

In [18]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
866,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
867,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [19]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [20]:
rez_dom.head()

0    0
1    1
2    1
3    1
4    0
Name: Result, dtype: object

In [21]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [22]:
rez_gost.head()

0    2
1    2
2    1
3    1
4    2
Name: Result, dtype: object

In [23]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [24]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                    H                          A Result Rez1 Rez2
0          UD Almería             Rayo Vallecano  0 - 2    0    2
1          Sevilla FC                Valencia CF  1 - 2    1    2
2       Real Sociedad                  Girona FC  1 - 1    1    1
3       UD Las Palmas               RCD Mallorca  1 - 1    1    1
4       Athletic Club                Real Madrid  0 - 2    0    2
..                ...                        ...    ...  ...  ...
105        Levante UD                   RC Celta  1 - 2    1    2
106  Deportivo Alavés  RCD Espanyol de Barcelona  2 - 1    2    1
107      FC Barcelona                   Elche CF  3 - 1    3    1
108        Real Betis               RCD Mallorca  3 - 0    3    0
109       Real Oviedo                 CA Osasuna  0 - 0    0    0

[870 rows x 5 columns]

In [25]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [26]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [27]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [28]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [29]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [30]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_8296\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [31]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_8296\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [32]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [33]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [34]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [35]:
finalna_provjera.tail()

                    H                          A Rezultat  Skor
865        Levante UD                   RC Celta    1 - 2  -1.0
866  Deportivo Alavés  RCD Espanyol de Barcelona    2 - 1   1.0
867      FC Barcelona                   Elche CF    3 - 1   1.0
868        Real Betis               RCD Mallorca    3 - 0   1.0
869       Real Oviedo                 CA Osasuna    0 - 0   0.0

# Konačni df - Podaci su Sređeni

In [36]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [37]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [38]:
df_BL.head(5)

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [39]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [40]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [41]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [42]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576],
       [-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576],
       [-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576],
       ...,
       [-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576],
       [-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576],
       [-0.22270576, -0.23202543, -0.14443163, ..., -0.2163133 ,
        -0.22895273, -0.22270576]])

In [43]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [45]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [46]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                816

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 833
Trainable params: 833
Non-trainable params: 0
_________________________________________________________________

In [47]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [48]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
25/25 [==============================] - 3s 46ms/step - loss: 0.8764 - mae: 0.8764 - val_loss: 0.9186 - val_mae: 0.9186
Epoch 2/50
25/25 [==============================] - 1s 27ms/step - loss: 0.8042 - mae: 0.8042 - val_loss: 0.8542 - val_mae: 0.8542
Epoch 3/50
25/25 [==============================] - 0s 20ms/step - loss: 0.7465 - mae: 0.7465 - val_loss: 0.8003 - val_mae: 0.8003
Epoch 4/50
25/25 [==============================] - 1s 24ms/step - loss: 0.6946 - mae: 0.6946 - val_loss: 0.7569 - val_mae: 0.7569
Epoch 5/50
25/25 [==============================] - 0s 16ms/step - loss: 0.6572 - mae: 0.6572 - val_loss: 0.7208 - val_mae: 0.7208
Epoch 6/50
25/25 [==============================] - 0s 20ms/step - loss: 0.6261 - mae: 0.6261 - val_loss: 0.6961 - val_mae: 0.6961
Epoch 7/50
25/25 [==============================] - 1s 28ms/step - loss: 0.6030 - mae: 0.6030 - val_loss: 0.6724 - val_mae: 0.6724
Epoch 8/50
25/25 [==============================] - 1s 22ms/step - loss: 0.5841 - mae: 0.5841 - val_loss: 0.6610 - val_mae: 0.6610
Epoch 9/50
25/25 [==============================] - 1s 29ms/step - loss: 0.5666 - mae: 0.5666 - val_loss: 0.6478 - val_mae: 0.6478
Epoch 10/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5529 - mae: 0.5529 - val_loss: 0.6405 - val_mae: 0.6405
Epoch 11/50
25/25 [==============================] - 0s 16ms/step - loss: 0.5425 - mae: 0.5425 - val_loss: 0.6322 - val_mae: 0.6322
Epoch 12/50
25/25 [==============================] - 1s 25ms/step - loss: 0.5341 - mae: 0.5341 - val_loss: 0.6260 - val_mae: 0.6260
Epoch 13/50
25/25 [==============================] - 1s 24ms/step - loss: 0.5269 - mae: 0.5269 - val_loss: 0.6244 - val_mae: 0.6244
Epoch 14/50
25/25 [==============================] - 1s 21ms/step - loss: 0.5208 - mae: 0.5208 - val_loss: 0.6156 - val_mae: 0.6156
Epoch 15/50
25/25 [==============================] - 0s 20ms/step - loss: 0.5143 - mae: 0.5143 - val_loss: 0.6136 - val_mae: 0.6136
Epoch 16/50
25/25 [==============================] - 0s 19ms/step - loss: 0.5103 - mae: 0.5103 - val_loss: 0.6040 - val_mae: 0.6040
Epoch 17/50
25/25 [==============================] - 0s 17ms/step - loss: 0.5067 - mae: 0.5067 - val_loss: 0.6029 - val_mae: 0.6029
Epoch 18/50
25/25 [==============================] - 1s 22ms/step - loss: 0.5021 - mae: 0.5021 - val_loss: 0.5969 - val_mae: 0.5969
Epoch 19/50
25/25 [==============================] - 1s 22ms/step - loss: 0.4987 - mae: 0.4987 - val_loss: 0.5967 - val_mae: 0.5967
Epoch 20/50
25/25 [==============================] - 1s 36ms/step - loss: 0.4961 - mae: 0.4961 - val_loss: 0.5927 - val_mae: 0.5927
Epoch 21/50
25/25 [==============================] - 1s 29ms/step - loss: 0.4927 - mae: 0.4927 - val_loss: 0.5941 - val_mae: 0.5941
Epoch 22/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4890 - mae: 0.4890 - val_loss: 0.5878 - val_mae: 0.5878
Epoch 23/50
25/25 [==============================] - 0s 17ms/step - loss: 0.4866 - mae: 0.4866 - val_loss: 0.5846 - val_mae: 0.5846
Epoch 24/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4840 - mae: 0.4840 - val_loss: 0.5796 - val_mae: 0.5796
Epoch 25/50
25/25 [==============================] - 0s 17ms/step - loss: 0.4794 - mae: 0.4794 - val_loss: 0.5783 - val_mae: 0.5783
Epoch 26/50
25/25 [==============================] - 0s 16ms/step - loss: 0.4751 - mae: 0.4751 - val_loss: 0.5729 - val_mae: 0.5729
Epoch 27/50
25/25 [==============================] - 1s 22ms/step - loss: 0.4726 - mae: 0.4726 - val_loss: 0.5669 - val_mae: 0.5669
Epoch 28/50
25/25 [==============================] - 1s 29ms/step - loss: 0.4686 - mae: 0.4686 - val_loss: 0.5657 - val_mae: 0.5657
Epoch 29/50
25/25 [==============================] - 1s 36ms/step - loss: 0.4661 - mae: 0.4661 - val_loss: 0.5586 - val_mae: 0.5586
Epoch 30/50
25/25 [==============================] - 2s 72ms/step - loss: 0.4614 - mae: 0.4614 - val_loss: 0.5513 - val_mae: 0.5513
Epoch 31/50
25/25 [==============================] - 2s 90ms/step - loss: 0.4577 - mae: 0.4577 - val_loss: 0.5471 - val_mae: 0.5471
Epoch 32/50
25/25 [==============================] - 2s 100ms/step - loss: 0.4543 - mae: 0.4543 - val_loss: 0.5400 - val_mae: 0.5400
Epoch 33/50
25/25 [==============================] - 2s 70ms/step - loss: 0.4513 - mae: 0.4513 - val_loss: 0.5385 - val_mae: 0.5385
Epoch 34/50
25/25 [==============================] - 1s 22ms/step - loss: 0.4482 - mae: 0.4482 - val_loss: 0.5434 - val_mae: 0.5434
Epoch 35/50
25/25 [==============================] - 1s 31ms/step - loss: 0.4454 - mae: 0.4454 - val_loss: 0.5402 - val_mae: 0.5402
Epoch 36/50
25/25 [==============================] - 1s 34ms/step - loss: 0.4417 - mae: 0.4417 - val_loss: 0.5373 - val_mae: 0.5373
Epoch 37/50
25/25 [==============================] - 1s 22ms/step - loss: 0.4390 - mae: 0.4390 - val_loss: 0.5361 - val_mae: 0.5361
Epoch 38/50
25/25 [==============================] - 1s 21ms/step - loss: 0.4362 - mae: 0.4362 - val_loss: 0.5372 - val_mae: 0.5372
Epoch 39/50
25/25 [==============================] - 1s 24ms/step - loss: 0.4337 - mae: 0.4337 - val_loss: 0.5382 - val_mae: 0.5382
Epoch 40/50
25/25 [==============================] - 1s 27ms/step - loss: 0.4300 - mae: 0.4300 - val_loss: 0.5428 - val_mae: 0.5428
Epoch 41/50
25/25 [==============================] - 1s 31ms/step - loss: 0.4294 - mae: 0.4294 - val_loss: 0.5413 - val_mae: 0.5413
Epoch 42/50
25/25 [==============================] - 1s 25ms/step - loss: 0.4278 - mae: 0.4278 - val_loss: 0.5417 - val_mae: 0.5417
Epoch 43/50
25/25 [==============================] - 1s 24ms/step - loss: 0.4257 - mae: 0.4257 - val_loss: 0.5427 - val_mae: 0.5427
Epoch 44/50
25/25 [==============================] - 0s 20ms/step - loss: 0.4220 - mae: 0.4220 - val_loss: 0.5397 - val_mae: 0.5397
Epoch 45/50
25/25 [==============================] - 0s 17ms/step - loss: 0.4205 - mae: 0.4205 - val_loss: 0.5429 - val_mae: 0.5429
Epoch 46/50
25/25 [==============================] - 0s 13ms/step - loss: 0.4187 - mae: 0.4187 - val_loss: 0.5430 - val_mae: 0.5430
Epoch 47/50
25/25 [==============================] - 0s 15ms/step - loss: 0.4162 - mae: 0.4162 - val_loss: 0.5435 - val_mae: 0.5435

In [49]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 5ms/step - loss: 0.5361 - mae: 0.5361

In [50]:
#spremanje modela
model.save("laliga_float_model.h5")

In [51]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.