## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [20]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("la-liga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("la-liga-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("la-liga-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [21]:
#za sezonu 25 6
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Celta", 'RC Celta')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Celta", 'RC Celta')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [22]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(70)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
65,65,7,28/09/2025 12:00,Estadio de Vallecas,Rayo Vallecano,Sevilla FC,0 - 1
66,68,7,28/09/2025 14:15,Estadio Martínez Valero,Elche CF,RC Celta,2 - 1
67,62,7,28/09/2025 16:30,Estadi Olímpic Lluís Companys,FC Barcelona,Real Sociedad,2 - 1
68,63,7,28/09/2025 19:00,Estadio Olímpico de la Cartuja,Real Betis,CA Osasuna,2 - 0
69,70,7,30/09/2025 18:00,Camp de Mestalla,Valencia CF,Real Oviedo,1 - 2

In [23]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [24]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
65,65,7,28/09/2025 12:00,Estadio de Vallecas,Rayo Vallecano,Sevilla FC,0 - 1
66,68,7,28/09/2025 14:15,Estadio Martínez Valero,Elche CF,RC Celta,2 - 1
67,62,7,28/09/2025 16:30,Estadi Olímpic Lluís Companys,FC Barcelona,Real Sociedad,2 - 1
68,63,7,28/09/2025 19:00,Estadio Olímpico de la Cartuja,Real Betis,CA Osasuna,2 - 0
69,70,7,30/09/2025 18:00,Camp de Mestalla,Valencia CF,Real Oviedo,1 - 2

## Predprocesovanje Niza Podataka

In [25]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(830, 3)

In [26]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [27]:
df_BL.to_csv("la-liga.csv")
df_BL

                 H               A Result
0       UD Almería  Rayo Vallecano  0 - 2
1       Sevilla FC     Valencia CF  1 - 2
2    Real Sociedad       Girona FC  1 - 1
3    UD Las Palmas    RCD Mallorca  1 - 1
4    Athletic Club     Real Madrid  0 - 2
..             ...             ...    ...
65  Rayo Vallecano      Sevilla FC  0 - 1
66        Elche CF        RC Celta  2 - 1
67    FC Barcelona   Real Sociedad  2 - 1
68      Real Betis      CA Osasuna  2 - 0
69     Valencia CF     Real Oviedo  1 - 2

[830 rows x 3 columns]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [29]:
df_domacin.columns

Index(['H_Atlético de Madrid', 'H_CA Osasuna', 'H_CD Leganés', 'H_Cádiz CF',
       'H_Deportivo Alavés', 'H_Elche CF', 'H_FC Barcelona', 'H_Getafe CF',
       'H_Girona FC', 'H_Granada CF', 'H_Levante UD', 'H_RC Celta',
       'H_RCD Espanyol de Barcelona', 'H_RCD Mallorca', 'H_Rayo Vallecano',
       'H_Real Betis', 'H_Real Madrid', 'H_Real Oviedo', 'H_Real Sociedad',
       'H_Real Valladolid CF', 'H_Sevilla FC', 'H_UD Almería',
       'H_UD Las Palmas', 'H_Valencia CF', 'H_Villarreal CF'],
      dtype='object')

In [30]:
df_domacin.shape

(830, 25)

In [31]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [32]:
df_gost.shape

(830, 25)

In [33]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [34]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [35]:
rez_dom.head()

0    0
1    1
2    1
3    1
4    0
Name: Result, dtype: object

In [36]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [37]:
rez_gost.head()

0    2
1    2
2    1
3    1
4    2
Name: Result, dtype: object

In [38]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [39]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                 H               A Result Rez1 Rez2
0       UD Almería  Rayo Vallecano  0 - 2    0    2
1       Sevilla FC     Valencia CF  1 - 2    1    2
2    Real Sociedad       Girona FC  1 - 1    1    1
3    UD Las Palmas    RCD Mallorca  1 - 1    1    1
4    Athletic Club     Real Madrid  0 - 2    0    2
..             ...             ...    ...  ...  ...
65  Rayo Vallecano      Sevilla FC  0 - 1    0    1
66        Elche CF        RC Celta  2 - 1    2    1
67    FC Barcelona   Real Sociedad  2 - 1    2    1
68      Real Betis      CA Osasuna  2 - 0    2    0
69     Valencia CF     Real Oviedo  1 - 2    1    2

[830 rows x 5 columns]

In [40]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [41]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [42]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [43]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [44]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [45]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_13236\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [46]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_13236\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [47]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [48]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [49]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [50]:
finalna_provjera.tail()

                  H              A Rezultat  Skor
825  Rayo Vallecano     Sevilla FC    0 - 1  -1.0
826        Elche CF       RC Celta    2 - 1   1.0
827    FC Barcelona  Real Sociedad    2 - 1   1.0
828      Real Betis     CA Osasuna    2 - 0   1.0
829     Valencia CF    Real Oviedo    1 - 2  -1.0

# Konačni df - Podaci su Sređeni

In [51]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [52]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [53]:
df_BL.head(5)

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71

In [54]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [55]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [56]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Atlético de Madrid,H_CA Osasuna,H_CD Leganés,H_Cádiz CF,H_Deportivo Alavés,H_Elche CF,H_FC Barcelona,H_Getafe CF,H_Girona FC,H_Granada CF,...,A_Real Betis,A_Real Madrid,A_Real Oviedo,A_Real Sociedad,A_Real Valladolid CF,A_Sevilla FC,A_UD Almería,A_UD Las Palmas,A_Valencia CF,A_Villarreal CF
212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
218,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.22501758, -0.23785938, -0.15260299, ..., -0.22828201,
        -0.22501758, -0.22171446],
       [ 4.44409721, -0.23785938, -0.15260299, ..., -0.22828201,
         4.44409721, -0.22171446],
       [-0.22501758, -0.23785938, -0.15260299, ..., -0.22828201,
        -0.22501758,  4.51030566],
       ...,
       [-0.22501758, -0.23785938, -0.15260299, ..., -0.22828201,
        -0.22501758, -0.22171446],
       [-0.22501758, -0.23785938, -0.15260299, ..., -0.22828201,
        -0.22501758, -0.22171446],
       [-0.22501758, -0.23785938, -0.15260299, ..., -0.22828201,
        -0.22501758, -0.22171446]])

In [58]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [59]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [60]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [61]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                816

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 833
Trainable params: 833
Non-trainable params: 0
_________________________________________________________________

In [62]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [63]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
24/24 [==============================] - 3s 52ms/step - loss: 0.6913 - mae: 0.6913 - val_loss: 0.6726 - val_mae: 0.6726
Epoch 2/50
24/24 [==============================] - 0s 20ms/step - loss: 0.6460 - mae: 0.6460 - val_loss: 0.6380 - val_mae: 0.6380
Epoch 3/50
24/24 [==============================] - 0s 14ms/step - loss: 0.6117 - mae: 0.6117 - val_loss: 0.6076 - val_mae: 0.6076
Epoch 4/50
24/24 [==============================] - 0s 15ms/step - loss: 0.5839 - mae: 0.5839 - val_loss: 0.5823 - val_mae: 0.5823
Epoch 5/50
24/24 [==============================] - 0s 16ms/step - loss: 0.5631 - mae: 0.5631 - val_loss: 0.5736 - val_mae: 0.5736
Epoch 6/50
24/24 [==============================] - 0s 15ms/step - loss: 0.5453 - mae: 0.5453 - val_loss: 0.5672 - val_mae: 0.5672
Epoch 7/50
24/24 [==============================] - 0s 21ms/step - loss: 0.5307 - mae: 0.5307 - val_loss: 0.5599 - val_mae: 0.5599
Epoch 8/50
24/24 [==============================] - 1s 24ms/step - loss: 0.5197 - mae: 0.5197 - val_loss: 0.5546 - val_mae: 0.5546
Epoch 9/50
24/24 [==============================] - 0s 20ms/step - loss: 0.5081 - mae: 0.5081 - val_loss: 0.5463 - val_mae: 0.5463
Epoch 10/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4991 - mae: 0.4991 - val_loss: 0.5431 - val_mae: 0.5431
Epoch 11/50
24/24 [==============================] - 0s 11ms/step - loss: 0.4901 - mae: 0.4901 - val_loss: 0.5378 - val_mae: 0.5378
Epoch 12/50
24/24 [==============================] - 0s 20ms/step - loss: 0.4805 - mae: 0.4805 - val_loss: 0.5313 - val_mae: 0.5313
Epoch 13/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4740 - mae: 0.4740 - val_loss: 0.5304 - val_mae: 0.5304
Epoch 14/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4689 - mae: 0.4689 - val_loss: 0.5241 - val_mae: 0.5241
Epoch 15/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4640 - mae: 0.4640 - val_loss: 0.5170 - val_mae: 0.5170
Epoch 16/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4599 - mae: 0.4599 - val_loss: 0.5257 - val_mae: 0.5257
Epoch 17/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4551 - mae: 0.4551 - val_loss: 0.5227 - val_mae: 0.5227
Epoch 18/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4510 - mae: 0.4510 - val_loss: 0.5193 - val_mae: 0.5193
Epoch 19/50
24/24 [==============================] - 0s 18ms/step - loss: 0.4469 - mae: 0.4469 - val_loss: 0.5178 - val_mae: 0.5178
Epoch 20/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4423 - mae: 0.4423 - val_loss: 0.5159 - val_mae: 0.5159
Epoch 21/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4380 - mae: 0.4380 - val_loss: 0.5112 - val_mae: 0.5112
Epoch 22/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4349 - mae: 0.4349 - val_loss: 0.5124 - val_mae: 0.5124
Epoch 23/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4330 - mae: 0.4330 - val_loss: 0.5148 - val_mae: 0.5148
Epoch 24/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4301 - mae: 0.4301 - val_loss: 0.5165 - val_mae: 0.5165
Epoch 25/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4275 - mae: 0.4275 - val_loss: 0.5173 - val_mae: 0.5173
Epoch 26/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4256 - mae: 0.4256 - val_loss: 0.5143 - val_mae: 0.5143
Epoch 27/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4219 - mae: 0.4219 - val_loss: 0.5150 - val_mae: 0.5150
Epoch 28/50
24/24 [==============================] - 0s 16ms/step - loss: 0.4199 - mae: 0.4199 - val_loss: 0.5155 - val_mae: 0.5155
Epoch 29/50
24/24 [==============================] - 0s 17ms/step - loss: 0.4168 - mae: 0.4168 - val_loss: 0.5121 - val_mae: 0.5121
Epoch 30/50
24/24 [==============================] - 0s 13ms/step - loss: 0.4155 - mae: 0.4155 - val_loss: 0.5150 - val_mae: 0.5150
Epoch 31/50
24/24 [==============================] - 0s 14ms/step - loss: 0.4129 - mae: 0.4129 - val_loss: 0.5157 - val_mae: 0.5157

In [64]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 7ms/step - loss: 0.5112 - mae: 0.5112

In [65]:
#spremanje modela
model.save("laliga_float_model.h5")

In [66]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.